@model Infraestructure.Models.Marca

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div>
    <h4>Marca</h4>
    <hr />
    @using (Html.BeginForm("DeleteConfirmed", "Marca"))
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.idMarca)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idMarca)
                @Html.Hidden("id", Model.idMarca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn  btn-danger btn-md " /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
